*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Inter', sans-serif;
    font-size: 16px;
}

html {
    scroll-behavior: smooth;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.container{
    width: 80%;
    margin: auto;
}

.flex{
    display: flex;
    flex-direction: column;
}

.block{
    display: block;
}