@import 'variables';

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    color: $color-text;
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
}

ul {
    list-style: none;
}

ul li a{
    color: $color-text;
}

a{
    text-decoration: none;
    color: $color-text;
}

p{
    line-height: 1.5em;

}

.container{
    width: 76%;
    margin: auto;
}

.flex{
    display: flex;
}

.block{
    display: block;
}

.displaynone{
    display: none;
}

h1, h2, h3, h4, h5, h6 {
    text-transform: none;
    margin: 0;
    display: block;
}

h2{
    font-weight:900;
    font-size: 52px;
}

h1::first-letter, h2::first-letter, h3::first-letter, h4::first-letter, span::first-letter, p::first-letter, li::first-letter, button::first-letter{
    text-transform: uppercase;
}

button{
    margin: 0;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    color: $color-text;
}
.menu{
    width: 90%;
    background-color: white;
    position: absolute;
    top: 10px;
    z-index: 4;
    padding: 50px;
    border: 1px solid lightgrey;
    border-radius: 10px;

}