@mixin buttonCustom(){
    padding: $padding-button;
    background-color: $color-secondary;
    border-radius: 5px;
    color: $color-third;
    border: 0px;
    font-size: 16px;
    font-weight: bold;
    color: white;

    &:hover{
        background-color: darken($color-secondary, 20%);
    }
}

@mixin titleCustom(){
    background-color: $color-secondary;
    padding: 5px 20px;
    transform:  skewX(-10deg);
    color: white;
    display: inline-block;
}

@mixin pattern(){
    display: flex;
    position: relative;
    z-index: -1;
    width: 20%;
    opacity: 0.3;
}

@mixin mobile {
    @media (max-width: 768px) {
        @content;
    }
}

@mixin tab {
    @media (min-width: 769px),(max-width: 968px){
        @content;
    }
}