@mixin content-first-section-responsive{
    .contentFirstSection{
        flex-direction: column;
        margin-top: 0;
        margin-bottom: -150px;

       .information{
            width: 90%;
            align-items: center;
            margin: auto;
            @include text-align;
            padding: 0;
            padding-bottom: 40px;

            p{
                margin: 20px 0;
                font-size: 14px;
            };

            button:last-child{
                justify-content: end;
            }

        }
        .pictureOfDish{
            width: 90%;
            margin: auto;

            .pattern{
            bottom: 70px;
            left: 30px;
            }
            #videoyoutube{
                width: 100%;
            }
        }
    }
}

@mixin content-second-section-responsive{
    .contentSecondSection{
        flex-direction: column;
    
        .information{
            margin: auto;
            width: 90%;
            @include text-align;
            padding: 0;

            p{
                margin: 20px 0;
                width: 100%;
                font-size: 14px;
            };

            button:last-child{
                justify-content: end;
            }
        }
        .pictureOfDish{
            width: 90%;
            margin: auto;
            .pattern{
                bottom: 60px;
            }
        }
        
    }
}

@mixin content-third-section-responsive{
    .contentThirdSection{
        flex-direction: column-reverse;
        margin-bottom: 100px;
        .information{
            margin: auto;
            width: 90%;
            @include text-align;

            p{
                margin: 20px 0;
                width: 100%;
                font-size: 14px;
            };
        
            .displayNumber{
                width: 100%;
                justify-content: space-around;

                .changeNumber{
                    padding: 0
                }
            };
        }
        .pictureOfDish{
            width: 90%;
            margin: auto;
            .pattern{
                width: 20%;
                bottom: 60px;
            }
        }
    }
}