@include mobile{
    .container{
        width: 90%;
    }

    header{
        padding:  20px;
        margin-bottom: -40px;
        img:first-child{
            display: flex;
        }
        nav{
            flex-direction: column;
            justify-content: space-between;
            
            a{
                margin-bottom: 20px;
            }
        }
        .connected{
            flex-direction: column;
            
            span{
                margin-bottom: 20px;
            }
        }

        #cross{
            z-index: 8;
        }
    }

    .contentFirstSection{
        flex-direction: column;
        margin-top: 0;
        margin-bottom: -150px;

        .information{
            width: 90%;
            align-items: center;
            margin: auto;
            text-align: center;
            padding: 0;
            padding-bottom: 40px;

            h2{
                font-size: 32px;
            }
            p{
                margin: 20px 0;
                font-size: 14px;
            };

            button:last-child{
                justify-content: end;
            }

        }
        .pictureOfDish{
            width: 100%;

            .pattern{
               bottom: 70px;
               left: 30px;
            }
            #videoyoutube{
                width: 100%;
            }
        }
    }
    .contentSecondSection{
        flex-direction: column;
    
        .information{
            margin: auto;
            width: 90%;
            text-align: center;
            padding: 0;

            h2{
                font-size: 32px;
            }
            p{
                margin: 20px 0;
                width: 100%;
                font-size: 14px;
            };

            button:last-child{
                justify-content: end;
            }
        }
        .pictureOfDish{
            width: 100%;
            align-items: center;
                
            .pattern{
                bottom: 60px;
            }
        }
        
    }
    .mid{
        margin: 120px;
        h2 {font-size: 34px ;
            margin: 0 5px ;
        }
    }

    .furtherInformation{
        flex-direction: column;
        margin-bottom: 100px;

        .moreInformation{
            margin-bottom: 40px;
        }
    }   

    .contentThirdSection{
        flex-direction: column-reverse;
        margin-bottom: 100px;
        .information{
            margin: auto;
            width: 90%;
            text-align: center;

            h2{
                font-size: 32px;
            }
            p{
                margin: 20px 0;
                width: 100%;
                font-size: 14px;
            };
        
            .displayNumber{
                width: 100%;
                justify-content: space-around;

                .changeNumber{
                    padding: 0
                }
            };
        }
        .pictureOfDish{
            width: 100%;
            align-items: center;

            .pattern{
                width: 20%;
                bottom: 60px;
            }
        }
    }

    footer{
        width: 100%;

        #footerTop{
            width: 90%;
            margin: auto;
            flex-wrap: wrap;

            .link{
                width: 24%;
                padding: 10px;
                margin-bottom: 40px;
                
            }
            
            .newsletter{
                width: 100%;
                text-align: center;
                
                p{
                    width: 100%;
                }
            }
        }
        #footerBottom{
            flex-direction: column;

            div{
                margin-bottom: 20px;
            }
        }
    }
}