@include mobile("tab-down"){
    .container{
        width: 90%;
        
        h2{
            font-size: $font-size-title-responsive-mobile;
        }

        header{
            padding:  20px;
            margin-bottom: -40px;
            img:first-child{
                display: flex;
            }
            nav{
                flex-direction: column;
                justify-content: space-between;
                
                a{
                    margin-bottom: 20px;
                }
            }
            .connected{
                flex-direction: column;
                
                span{
                    margin-bottom: 20px;
                }
            }

            #cross{
                z-index: 8;
            }
        }
        @include content-first-section-responsive;
        @include content-second-section-responsive;
        .mid{
            margin: 120px;
            h2 {
                margin: 0 5px ;
            }
        }

        .furtherInformation{
            flex-direction: column;
            margin-bottom: 100px;

            .moreInformation{
                margin-bottom: 40px;
            }
        }   

        @include content-third-section-responsive;
}
    footer{
        width: 100%;

        #footerTop{
            width: 90%;
            margin: auto;
            flex-wrap: wrap;

            .link{
                width: 24%;
                padding: 10px;
                margin-bottom: 40px;
                
            }
            
            .newsletter{
                width: 100%;
                @include text-align;
                
                p{
                    width: 100%;
                }
            }
        }
        #footerBottom{
            flex-direction: column;

            div{
                margin-bottom: 20px;
            }
        }
    }
}