* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  color: #243e63;
}

html {
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

ul li a {
  color: #243e63;
}

a {
  text-decoration: none;
}

p {
  line-height: 1.5em;
}

.container {
  width: 76%;
  margin: auto;
}

.flex {
  display: flex;
}

.block {
  display: block;
}

h1, h2, h3, h4, h5, h6 {
  text-transform: none;
  margin: 0;
}

h2 {
  font-weight: 900;
  font-size: 52px;
}

h1::first-letter, h2::first-letter, h3::first-letter, h4::first-letter, span::first-letter, p::first-letter, li::first-letter, button::first-letter {
  text-transform: uppercase;
}

button {
  margin: 0;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  color: #243e63;
}

header {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
  font-weight: bold;
}
header .logo {
  width: 25%;
}
header .logo > img {
  width: 50px;
  margin-right: 20px;
}
header .logo h1 {
  font-weight: 900;
  padding-top: 5px;
}
header nav {
  width: 60%;
  align-items: center;
}
header nav ul {
  margin: 0 60px;
  width: 60%;
  justify-content: space-between;
}
header .connected {
  width: 30%;
  justify-content: space-between;
  align-items: center;
}

.buttonCustom {
  padding: 15px 30px;
  background-color: #6415ff;
  border-radius: 5px;
  color: #e8eaee;
  border: 0px;
  font-size: 16px;
  font-weight: bold;
  color: white;
}

.titleCustom {
  background-color: #6415ff;
  padding: 5px 20px;
  transform: skewX(-10deg);
  color: white;
  margin-left: 10px;
}

.contentFirstSection {
  justify-content: space-between;
  margin-top: 80px;
}
.contentFirstSection .information {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 47%;
}
.contentFirstSection .information .titleCustom {
  width: 75%;
}
.contentFirstSection p {
  margin: 50px 0;
  font-weight: bold;
  opacity: 0.6;
  width: 80%;
}
.contentFirstSection .interaction {
  justify-content: space-between;
  width: 80%;
}
.contentFirstSection .interaction button:first-child {
  margin: 0;
  font-weight: bold;
}
.contentFirstSection .interaction button:last-child {
  align-items: center;
  justify-content: space-around;
  background-color: white;
  width: 50%;
  border: none;
}
.contentFirstSection .interaction button:last-child img {
  width: 50px;
}
.contentFirstSection .pictureOfDish {
  position: relative;
  width: 55%;
  z-index: 2;
  justify-content: end;
}
.contentFirstSection .pictureOfDish img:first-child {
  width: 95%;
  border-radius: 40px;
  z-index: 1;
}
.contentFirstSection .pictureOfDish .pattern {
  top: 385px;
  left: 670px;
}

.pattern {
  position: absolute;
  z-index: -1;
  width: 20%;
  opacity: 0.3;
}

.contentSecondSection {
  justify-content: space-between;
  margin-top: 180px;
}
.contentSecondSection .information {
  padding: 0 70px;
  width: 53%;
}
.contentSecondSection .information .titleCustom {
  width: 70%;
}
.contentSecondSection .information span {
  color: #6415ff;
  line-height: 3em;
  font-weight: bold;
}
.contentSecondSection .information p {
  margin: 40px 0;
  font-weight: bold;
  opacity: 0.6;
  width: 90%;
}
.contentSecondSection .pictureOfDish {
  position: relative;
  width: 50%;
  z-index: 1;
  justify-content: end;
}
.contentSecondSection .pictureOfDish img:first-child {
  width: 100%;
  border-radius: 40px;
  z-index: 2;
  background-size: cover;
}
.contentSecondSection .pictureOfDish .pattern {
  top: 395px;
  left: 300px;
}

.mid {
  justify-content: center;
  margin: 220px 0px 100px 0;
}

.furtherInformation {
  width: 65%;
  margin: auto;
  justify-content: space-between;
  margin-bottom: 300px;
  position: relative;
}
.furtherInformation .moreInformation {
  flex-direction: column;
  align-items: center;
}
.furtherInformation .moreInformation .bgLight {
  background-color: #e8eaee;
  border-radius: 50%;
}
.furtherInformation .moreInformation h3 {
  margin: 20px 0;
  font-weight: 900;
}
.furtherInformation .moreInformation .knowMoreInformation {
  font-weight: bold;
  color: #6415ff;
  margin-top: 20px;
}
.furtherInformation .moreInformation .knowMoreInformation img {
  width: 20px;
  color: red;
}
.furtherInformation .moreInformation img[alt=blob] {
  width: 25%;
  opacity: 0.3;
  position: absolute;
  right: -560px;
  top: 150px;
}

.contentsThirdSection {
  justify-content: space-between;
  margin-bottom: 180px;
}
.contentsThirdSection .information {
  padding: 0 50px;
  width: 50%;
}
.contentsThirdSection .information .titleCustom {
  width: 65%;
}
.contentsThirdSection .information > span {
  color: #6415ff;
  line-height: 3em;
  font-weight: bold;
}
.contentsThirdSection .information p {
  line-height: 1.5em;
  font-weight: bold;
  opacity: 0.6;
  width: 80%;
  margin: 20px 0;
}
.contentsThirdSection .information .displayNumer {
  justify-content: start;
  margin-bottom: 30px;
}
.contentsThirdSection .information .displayNumer #order, .contentsThirdSection .information .displayNumer #users, .contentsThirdSection .information .displayNumer #chef {
  font-weight: bold;
  font-size: 24px;
}
.contentsThirdSection .information .displayNumer .changeNumber {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
}
.contentsThirdSection .pictureOfDish {
  position: relative;
  width: 50%;
  z-index: 1;
  justify-content: end;
}
.contentsThirdSection .pictureOfDish img:first-child {
  width: 100%;
  border-radius: 40px;
  z-index: 2;
  background-size: cover;
}
.contentsThirdSection .pictureOfDish .pattern {
  top: 410px;
  left: 300px;
}

footer {
  background-color: #e8eaee;
  flex-direction: column;
}
footer #footerTop {
  margin: auto;
  width: 76%;
  display: flex;
  justify-content: space-between;
  padding: 50px 0;
  border-bottom: 2px solid hsla(215deg, 47%, 26%, 0.1);
}
footer #footerTop h4 {
  margin-bottom: 20px;
  text-transform: uppercase;
}
footer #footerTop li {
  line-height: 2em;
}
footer #footerTop .newsletter {
  line-height: 2em;
}
footer #footerTop .newsletter p {
  width: 90%;
}
footer #footerTop .newsletter input {
  padding: 15px 30px;
  background-color: hsla(215deg, 47%, 26%, 0.1);
  border: 2px solid hsla(215deg, 47%, 26%, 0.1);
  border-radius: 5px;
  box-shadow: 1px 1px 5px hsla(215deg, 47%, 26%, 0.3);
  font-family: "inter", sans-serif;
  margin: 30px 0px;
}
footer #footerTop .newsletter button {
  padding: 15px 30px;
}
footer #footerBottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 76%;
  margin: auto;
  padding: 50px 0;
}
footer #footerBottom .logo img {
  width: 50px;
}
footer #footerBottom .logo h1 {
  font-weight: 900;
  margin: 5px 0 0 10px;
}
footer #footerBottom span {
  color: hsla(215deg, 47%, 26%, 0.4);
  font-weight: bold;
}
footer #footerBottom img[alt=icon] {
  flex-direction: column;
  background-color: black;
  width: 40px;
  border-radius: 50%;
  padding: 10px;
  margin: 0 10px;
}

/*# sourceMappingURL=style.css.map */
