
.contentFirstSection {
    justify-content: space-between;
    margin-top: 80px;

    .information{
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 47%;

        .titleCustom{
            width: 74%;
        }
    }
    p{
        margin: 50px 0;
        font-weight: bold;
        opacity: 0.6;
        width: 80%;
    }
    .interaction{
        justify-content: space-between;
        width: 80%;

        button:first-child{
            margin: 0;
            font-weight: bold;
        }
        
        button:last-child{
            align-items: center;
            justify-content: space-around;
            background-color: white;
            width: 50%;
            border: none;
            
                img{
                    width: 50px;
                }
            
        }
    }

    .pictureOfDish{
        position: relative;
        width: 55%;
        z-index: 2;
        justify-content: end;

        img:first-child{
            width: 95%;
            border-radius: 40px;
            z-index: 1;
        }

        .pattern{
            top: 400px;
            left: 660px;
        }
    }
}

