
.contentFirstSection {
    justify-content: space-between;
    margin-top: 80px;

    .information{
        padding: 50px 0;
        width: 47%;
        position: relative;

        // .titleCustom{
        //     width: 75%;
        // }
    }
    p{
        margin: 50px 0;
        font-weight: bold;
        opacity: 0.6;
        font-size: 18px;
    }
    .interaction{
        
        justify-content: space-between;
        width: 100%;

        button:first-child{
            margin: 0;
            font-weight: bold;
        }
        
        button:last-child{
            align-items: center;
            background-color: white;
            width: 50%;
            border: none;
                :hover{
                    color: $color-secondary;
                }
            
                img{
                    width: 50px;
                    margin-right: 20px;

                    :hover{
                        color: $color-secondary;
                    }
                }
            
        }
    }

    .pictureOfDish{
        flex-direction: column;
        align-items: flex-end;
        position: relative;
        width: 50%;
        z-index: 2;

        img:first-child{
            width: 100%;
            border-radius: 40px;
            z-index: 1;
        }

        .pattern{
            margin-right: 0;
            left: 60px;
            bottom: 100px;
        }
    }

    img[alt=blop]{
        position: absolute;
        width: 20%;
        opacity: 0.1;
        left: -220px;
        top: 480px;
    }

}
.displaynone{
    display: none;
}

#emptydiv{
    text-align: center;
    margin-top: 100px;
}
#emptyorder{
    font-size: 28px;
    color:$color-js;
    margin: auto;
}

