footer{
    background-color: #edf2f6;
    flex-direction: column;

    #footerTop{
        margin: auto;
        width: 76%;
        display: flex;
        justify-content: space-between;
        padding: 50px 0;
        border-bottom: 2px solid hsl(215, 47%, 26%, 0.1);
        
        .link {
            h4{
                margin-bottom: 20px;
                text-transform: uppercase;
            }
            
            li{
                margin-bottom: 10px;
            }

            li a{
                padding-bottom: 5px;
            }

            a:hover{
                border-bottom: 1px solid black;
            }
        }

        .newsletter{
            line-height: 2em;

            p{
                width: 90%;
            }
            input[type=email]{
                padding: 15px 40px;
                background-color: hsl(214deg 32% 91%);
                border: 2px solid hsl(214deg 32% 91%);
                border-radius: 5px;
                box-shadow: 1px 1px 5px hsl(215, 47%, 26%, 0.3);
                font-family: 'inter', sans-serif;
                margin: 30px 0px;
                font-size: 16px;
                outline: none;

                &:hover{
                    outline: 1px solid $color-secondary;
                }
            }

            button{
                padding: 15px 30px;
            }

            #message{
                color: $color-js;
            }
        }
      
        
    }

    #footerBottom{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 76%;
        margin: auto;
        padding: 50px 0;

        .logo {
            img{
                width: 50px;
                
            }
    
            .h1{
                font-weight: 900;
                margin: 5px 0 0 10px
            }
        }

        span{
            color: hsl(215, 47%, 26%, 0.4);
            font-weight: bold;
        }

        
        img[alt=icon]{
            flex-direction: column;
            background-color: black;
            width: 40px;
            border-radius: 50%;
            padding: 10px;
            margin: 0 5px;

            &:hover{
                background-color: lighten($color: #000000, $amount: 30%);
            }
          
        }
    }
}