.furtherInformation{
    width: 65%;
    margin: auto;
    justify-content: space-between;
    margin-bottom: 300px;
    position: relative;
    

    .moreInformation{

        flex-direction: column;
        align-items: center;

        .bgLight{
            background-color: $color-third;
            border-radius: 50%;
        }
        
        h3{
            margin: 20px 0;
            font-weight: 900;
        }

        .knowMoreInformation{
            font-weight: bold;
            color: $color-secondaryLight;
            margin-top: 20px;

            img{
                width: 20px;
                color: red;
            }
        }
    }
    img[alt=blob]{
        width: 25%;
        opacity: 0.3;
        position: absolute;
        right: -560px;
        top: 150px;
        overflow: hidden;
    }
    
}