.contentSecondSection {
    justify-content: space-between;
    margin-top: 180px;

    .information{
        padding: 0 70px ;
        width: 55%;
        
        span{
            color: $color-secondaryLight;
            line-height: 3em;
            font-weight: bold;
        }
    
        p{
            margin: 40px 0px;
            font-weight: bold;
            opacity: 0.6;
            width: 90%;
        }
    } 
    
    .pictureOfDish{
        position: relative;
        width: 50%;
        z-index: 1;
        justify-content: end;

        img:first-child{
            width: 100%;;
            border-radius: 40px;
            z-index: 2;
        }

        .pattern{
            bottom: 70px;
            margin: auto;
        }
    }
}


