.contentThirdSection{
    justify-content: space-between;
    margin-bottom: 180px;

    .information{
        
        width: 50%;

        > span{
            color: $color-secondaryLight;
            line-height: 3em;
            font-weight: bold;
        }
    
        p{
            line-height: 1.5em;
            font-weight: bold;
            font-size: 18px;
            opacity: 0.6;
            width: 85%;
            margin: 20px 0px;
        }

        .displayNumber{

            justify-content: start;
            margin-bottom: 50px;

            #order, #users, #chef{
                font-weight: bold;
                font-size: 24px;
            }

            .changeNumber{
                display: flex;
                flex-direction: column;
                padding-right: 40px;

                :nth-child(2){
                    margin-top: 10px;
                    color: $color-secondary;
                    font-weight: bold;
                }
            }
            
        }

    } 
    

    .pictureOfDish{
        position: relative;
        width: 50%;
        z-index: 1;
        img:first-child{
            width: 100%;
            border-radius: 40px;
            z-index: 1;
        }

        .pattern{
            
            bottom: 50px;
            margin: auto;
        }
            
    

        
    }
}
